.grid-index{
    display: grid;
    grid-template-columns: 
    "titulo titulo"
    "casa1 casa2"
    "texto1 texto2"
    "casa3 casa4"
    "texto3 texto4";
    grid-template-columns: 40% 40% 20%;
    grid-template-rows: 20px 20px 20px 10px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 80px;
}
.grid-index img{
    width: 100%;
    height: 400px;
}
.primer-texto{
    grid-area: titulo;
}
.segundo-p{
    grid-area: texto1;
}
.tercer-p{
    grid-area: texto2;
}
.cuarto-p{
    grid-area: texto3;
    }
    .quinto-p{
        grid-area: texto4;
    }
.imagen-primera{
    grid-area: casa1;
}
.imagen-segunda{
    grid-area: casa2;
}
.imagen-tercera{
    grid-area: casa3;
}
.imagen-cuarta{
    grid-area: casa4;
}